.wrapper {
  box-shadow: 0 0 8px rgb(148, 209, 229);
  padding: 20px;
  border-radius: 10%;
}

.avatar {
  width: 300px;
  border-radius: 10%;
}

.name {
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.description {
  text-align: center;
}

.tag {
  font-size: 24px;
  color: black;
}

.location {
  font-size: 24px;
  color: black;
}

.stats {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.item {
  text-align: center;
}

.label {
  display: block;
  font-size: 16px;
  color: black;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  background-color: rgb(148, 209, 229);
  border: 2px solid rgb(129, 129, 163);
  margin: 10px;
}
