.wrapper {
  background-color: white;
  gap: 2px;
  padding: 2px;
}

.grey {
  background-color: lightcyan;
}
.white {
  background-color: aliceblue;
}
/* .item {
  padding: 20px;
} */

.title {
  background-color: lavender;
}
